*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/client/img/fons/overlay3.png);
}

.wrp-btn{
    display: flex;
    justify-content: right;
    padding: 20px;
}

.button{
    display: flex;
    align-items: center;
    background-color: #ffffff00;
    justify-content: center;
    padding: 15px;
    border: 1px solid #FF8C00;
    color: #FF8C00;
    text-transform: uppercase;
    font-family: HammersmithOne;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2px; 
    height: 40px;
    width: 120px;
    position: absolute;
}

.button:hover {
    background-color: #ff8c00aa;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.image-remont{
    display: flex;
    flex-direction: column;
}

.remont-wrp{
    flex-direction: column;
    margin-top: 30px;
}

.remont-row{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.item-remont{
    height: 400px;
    width: 350px;;
}

.icon-rem{
    display: flex;
    height: 400px;
    width: 350px;
    border: 3px solid #f68903;
}